* {
  margin: 0;
  padding: 0;
  /* background-color: #37559d; */
  background-image: -moz-linear-gradient(top, #31b697 0);
  background-image: -webkit-gradient(linear, left top, left bottom);
}

.showMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .hideMobile {
    display: none;
  }
  .showMobile {
    display: table-cell;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-top: 20px;
  color: #37559d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

table {
  border-collapse: collapse;
  align-items: center;
  min-width: 250px;
  border: 1px solid #000;
}

td {
  width: 100vh;
  vertical-align: middle;

  border: 2px solid #ccd2ff;
  position: relative;
}

.form-container {
  text-align: center;

}

a {
  color: #5165ff;
}

tr:hover,
tr:focus-within {
  background: #f2f3ff;
  outline: none;
}

td > a:first-child {
  display: flex;
  padding: 18px;
  text-decoration: none;
  color: inherit;
  z-index: 0;
  /* &:focus {
    outline: 0;
  } */
}

.full-page-container {
  display: flex;
  justify-content: center;
}

.contact-form-container {
  padding:0 25%;
  width: 90vw;
  border: 0.5px solid black;
}

h1 {
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.form-text-label {
  margin-right: 2vw;
}

.landing-page-logo-header {
  display: flex;
}

.landing-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.landing-page-logo {
  height: 10vh;
}

.landing-page-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  font-size: 3.0em;
  font-weight: bold;
  text-align: center;
}

.landing-page-title {
  font-size: 6.0em;
  height: 90vh;
}

.landing-page-link {
  text-decoration: none;
  color: black;
  background-color: #ccd2ff;
}

.contacts-background {
  background-image: url("./assets/users.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #37559d;
}

.events-background {
  background-image: url("./assets/calendar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #37559d;
}