* {
  margin: 0;
  padding: 0;
}

.showMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .hideMobile {
    display: none;
  }
  .showMobile {
    display: table-cell;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  text-align: center;
}

table {
  align-items: center;
  min-width: 250px;
  border: 1px solid #000;
}

td {
  width: 100vh;
  vertical-align: middle;
}

.form-container {
  text-align: center;

}