* {
  margin: 0;
  padding: 0;
  /* background-color: #37559d; */
  background-image: -moz-linear-gradient(top, #31b697 0);
  background-image: -webkit-gradient(linear, left top, left bottom);
}

.showMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .hideMobile {
    display: none;
  }
  .showMobile {
    display: table-cell;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-top: 20px;
  color: #37559d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

table {
  border-collapse: collapse;
  align-items: center;
  min-width: 250px;
  border: 1px solid #000;
}

td {
  width: 100vh;
  vertical-align: middle;

  border: 2px solid #ccd2ff;
  position: relative;
}

.form-container {
  text-align: center;

}

a {
  color: #5165ff;
}

tr:hover,
tr:focus-within {
  background: #f2f3ff;
  outline: none;
}

td > a:first-child {
  display: flex;
  padding: 18px;
  text-decoration: none;
  color: inherit;
  z-index: 0;
  /* &:focus {
    outline: 0;
  } */
}

.full-page-container {
  display: flex;
  justify-content: center;
}

.contact-form-container {
  padding:0 25%;
  /* width: 90vw; */
  border: 0.5px solid black;
}

.contact-form-container h1 {
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}